

.body {
     background-color: rgb(44, 29, 29);
}
p {
    font-size: 30px;
}

#yes {
    color: white;

}
#character1 {
    width: 100px;
    height: 100px;
    background-color: red;
}
#character2 {
    width: 100px;
    height: 100px;
    background-color: blue;
}
#character3 {
    width: 100px;
    height: 100px;
    background-color: rgb(251, 255, 22);
}
#character4 {
    width: 100px;
    height: 100px;
    background-color: rgb(16, 128, 16);
    position: relative;

}
#jedi {
    width: 100px;
    height: 100px;
    background-color:rgb(0, 255, 255);
    visibility: visible;
}
#jedi1 {
    width: 100px;
    height: 100px;
    background-color:rgb(0, 255, 255);
    visibility: visible;
}

#sith {
    width: 100px;
    height: 100px;
    background-color:rgb(0, 255, 255);
    visibility: visible;
    
}

#sith1 {
    width: 100px;
    height: 100px;
    background-color:rgb(0, 255, 255);
    visibility: visible;
}

.jediNC {
    visibility: visible;
    position: absolute;
    top: 140px;
    right: 455px;
    background-color: red;
}

.jedi1NC {
    visibility: visible;
    position: absolute;
    top: 140px;
    right: 445px;
    background-color: red;
    
}
.jedi2NC {
    visibility: visible;
    position: absolute;
    top: 140px;
    right: 435px;
    background-color: red;
    
}